alembic==1.18.3
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
bandit==1.8.6
bcrypt==5.0.0
boolean.py==5.0
CacheControl==0.14.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
coverage==7.13.4
cryptography==46.0.7
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
fastapi==0.128.0
fastapi-users==15.0.4
fastapi_users_db_sync_sqlalchemy==5.0.0
filelock==3.25.0
greenlet==3.3.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
license-expression==30.4.4
makefun==1.16.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
minio==7.2.18
msgpack==1.1.2
packageurl-python==0.17.6
packaging==26.0
passlib==1.7.4
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.9.4
pluggy==1.6.0
pwdlib==0.3.0
py-serializable==2.1.0
pyasn1==0.6.3
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.20.0
PyJWT==2.12.0
PyMySQL==1.1.2
pyparsing==3.3.2
pytest==9.0.3
pytest-cov==7.0.0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.22
PyYAML==6.0.3
requests==2.33.0
rich==14.3.3
rsa==4.9.1
ruff==0.14.1
six==1.17.0
sortedcontainers==2.4.0
sqladmin==0.23.0
SQLAlchemy==2.0.46
starlette==0.50.0
stevedore==5.7.0
toml==0.10.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
WTForms==3.1.2
firebase-admin==6.6.0
google-generativeai==0.8.5
